*{
  box-sizing: border-box;
}

/* FONTS  */
@font-face {
  font-family: "Roboto";
  src: url('../fonts/Roboto-Medium.woff2') format('woff2'),
      url('../fonts/Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
      url('../fonts/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url('../fonts/RobotoCondensed-Bold.woff2') format('woff2'),
      url('../fonts/RobotoCondensed-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Roboto","Roboto Condensed",Arial, sans-serif;
  letter-spacing: 0.5px;
}

*:focus{
outline: 2px solid #ff7500;
outline-offset: 3px;
}

/* CONTAINER */

.container{
width: 100%;
max-width: 1140px;
padding-left: 20px;
padding-right: 20px;
margin-left: auto;
margin-right: auto;
}
/* SITE-HEADER  */
.site-header{
  padding-top: 16px;
  padding-bottom: 16px;
  border-top: 5px solid #ff7500;
  background-color: #fff;
  margin-bottom: 62px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
}

.site-header__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site-header__logo-link{
  transition: opacity 0.4s ease;
  display: inline-block;
}

.site-header__img {
  display: block;
}

.site-header__logo-link:hover{
opacity: 0.8;
}

.site-header__logo-link:active{
opacity: 0.6;
}

.site-header__actions{
  display: flex;
  align-items: center;
}
/* SITE-NAV  */
.sitenav__list{
  display: flex;
  padding: 0;
  margin: 0;
  margin-right: 32px;
  list-style: none;
}
.sitenav__item{
  margin-right: 32px;
}

.sitenav__item:last-child{
margin-right: 0;
}

.sitenav__link{
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000 ;
  transition: color 0.4s ease;
}
.sitenav__link:hover{
  color: #ff7500;
}

.sitenav__link:active{
  opacity: 0.6;
}
.site-header__main-link{
  display: inline-block;
  padding:12px 24px;
  border-radius: 4px;
  font-size: 13px;
  font-style: normal;
  line-height: 15px;
  letter-spacing: 0.5px;
  font-weight: bold;
  background-color: #ff7500;
  color: #fff;
  text-decoration: none;
  transition: opacity 0.4s ease;
}
.site-header__main-link:hover{
  opacity: 0.8;
}

.site-header__main-link:active{
  opacity: 0.6;
}

/* HERO  */
.hero {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #252420;
  color: #fff;
}
.hero__container {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.hero__content {
  width: 390px;
  background-color: #252420;
}
.hero__orange-line {
  width: 80px;
  height: 3px;
  border: none;
  margin: 0;
  margin-bottom: 40px;
  background-color: #ff7500;
}
.hero__heading {
  font-size: 40px;
  margin-bottom: 24px;
  font-weight: bold;
  line-height: 1.2;
  font-family: "Roboto Condensed";
}
.hero__text {
  margin-top: 0;
  margin-bottom: 32px;
  font-size: 16px;
  line-height: 1.5;
}
.hero__img {
  position: absolute;
  top: -45px;
  right: 30px;
  border-radius: 8px;
  width: 510px;
  height: 510px;
}

/* FEATURES  */
.features {
  padding-top: 210px;
  padding-bottom: 210px;
}
.features__orange-line {
  width: 80px;
  height: 3px;
  border: none;
  margin: 0;
  margin-bottom: 40px;
  background-color: #ff7500;
}
.features__heading {
  font-weight: 440px;
  margin-top: 0;
  margin-bottom: 72px;
  font-size: 72px;
  line-height: 1.2;
  width: 435px;
  font-family:  "Roboto Condensed","Roboto", "Arial" sans-serif;
  letter-spacing: 0.5px;
}
.features__list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
.feature {
}
.feature__icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  margin-bottom: 32px;
  border-radius: 50%;
  background-color: rgba(225, 117, 0, 0.2)
}
.features__img {
  width: 56px;
  height: 56px;
  object-fit: cover;
}
.feature__title {
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.5px;
}
.feature__info {
  max-width: 314px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.5px;
  color: #000000;
}

.feature:last-child{
margin-right: 0;
}
.feature{
  width: 100%;
  max-width: 340px;
  margin-right: 40px;
}

/* PROMO  */
  .promo{
    padding-bottom: 160px;
    margin-bottom: 16px;
  }

  .promo__container {
    position: relative;
    padding: 64px;
    display: flex;
    justify-content: space-between;
    background-color: #252420;
    border-radius: 12px;
  }

  .promo__content{
    color: #fff;
    width: 440px;
  }

  .promo__heading{
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 40px;
    line-height: 48px;
    font-family:  "Roboto Condensed","Roboto", "Arial" sans-serif;
  }
  .promo__info-wrapper{
    margin-bottom: 24px;
  }

  .promo__text{
    margin: 0;
    margin-bottom: 12px;
  }

  .promo__text:last-child {
    margin-bottom: 0;
  }

  .promo__highlight{
    color: #ff7500;
  }
  .promo__img{
    position: absolute;
    top: -85px;
    left: 616px;
    width: 440px;
    height: 440px;
    border-radius: 12px;
    object-fit: cover;
  }

  /* SITE-FOOTER  */
  .site-footer{
    padding-top: 56px;
    padding-bottom: 56px;
    background-color: #f8f8f8;
  }
  .site-footer__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .site-footer__socials {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .site-footer__item{
    margin-right: 16px;
  }
  .site-footer__divider {
    height: 2px;
    border: 0;
    margin-top: 40px;
    margin-bottom: 64px;
    background-color: rgba(37, 36, 32, 0.5);
  }
  .site-footer__bottom {
    display: flex;
  }
  .site-footer__links {
    width: 224px;
    padding: 0;
    margin: 0;
    margin-right: 68px;
    list-style: 0;
    line-height: 19px;
    list-style: none;
  }
  .site-footer__link{
    display: inline-block;
    transition: 0.4s color ease;
    color: #252420
  }
  .site-footer__link:hover{
    color: #ff7500;
  }
  .site-footer__icon{
    display: block;
  }

  .site-footer-socials svg {
    display: block;
  }

  .site-footer__item:last-child{
    margin-right: 0;
  }


  .site-footer__links:last-child{
    margin-right: 0;
  }

  .site-footer__links li {
    margin-bottom: 16px;
  }

  .site-footer__links li:last-child {
    margin-bottom: 0;
  }

  .site-footer__links a {
    text-decoration: none;
    color: #252420;
  }

  .site-footer__links a:active{
  opacity: 0.6;
  }
  .site-footer__links a:hover{
    opacity: 0.6;
    color: #ff7500;
    transition: 0.4s color ease;
  }
